div#chat
  div#title
    div.col-12#chat-title
      span.float-left.icon-chat.material-icons account_circle
      span.float-left.text Person
    div.clear
    center
      hr.col-11

  div.clear

  div.col-12.talk.no-padding
    center
      div.col-11.chat-to
        span.float-left.icon-chat.material-icons account_circle
        div.text
          span Person

      div.col-11.chat-from
        span.float-right.icon-chat.material-icons account_circle
        div.text
          span Person

      hr.col-11

      div.col-11.chat-text
        input(type="button", value="send", alt="send", title="send", class="material-icons button")
        input(type="textarea", col="2",name="message", placeholder="Hi")
        div.clear
      div.col-11.no-padding
        input(type="checkbox").float-left
        span.float-left Enter send message