
div.col-12.no-padding#contacts
  div.col-12.chat-person
    span.col-1.float-left.icon-chat.material-icons account_circle
    div.col-11.float-left.no-padding.no-margin
      div.col-12
        span.nome-chat Fulano
      div.col-12
        span.message-chat Lorem Ipsum ...
    div.clear

  div.col-12.chat-group.no-padding-no-margin
    span.col-1.float-left.icon-chat.material-icons supervised_user_circle
    div.col-11.float-left.no-padding.no-margin
      div.col-12
        span.nome-chat Group Fulano
      div.col-12
        span.message-chat Lorem Ipsum ...
    div.clear
