div#sidebar
  div
    div
      span.button.material-icons menu
    div
      a(alt='Home' title='Home' href="/").button.material-icons#btn-pag-atual home
    div
      span(alt='Profile' title='Profile').button.material-icons person
    div
      a(alt='Tasks' title='Tasks' href="/tasks").button.material-icons developer_board
    div
      span(alt='Chat' title='Chat').button.material-icons question_answer
    div
      a(alt='Logout' title='Logout' href="/logout").button.material-icons power_settings_new 