header
  ul
    li
      div.button 
        i.material-icons face
        span Teste
    li
      div.button
        a
          i.material-icons face
          span teste2
    li 
      span Teste 2
    li 
      span Teste 3
    li 
      span Teste 4