extends includes/main

block content 
  div.box-content
    div.breadcrumb Home > 

    div.col-3.no-padding.no-marging.float-left
      include chat/contacts
    
    div.col-6.float-left
      include chat/chat

    div.col-3.no-padding.no-marging.float-left#calendar-side
      include calendar/calendar      
    div.clear