extends includes/main

block content 
  div.row.col-12.no-margin.no-padding
    div.col-3.indicadores
      div.box-content
        span(alt='Clock' title='Clock').row.col-12.no-padding.no-margin
          span.col-1.no-padding.material-icons access_time
          span.col-11.text-indicators 24:00 PM
    div.col-3.indicadores
      div.box-content
        span(alt='Notifications' title='Notifications').row.col-12.no-padding.no-margin
          span.col-1.no-padding.material-icons notifications
          span.col-11.text-indicators You don't have notifications
    div.col-3.indicadores
      div.box-content
        span(alt='Task' title='Task').row.col-12.no-padding.no-margin
          span.col-1.no-padding.material-icons list_alt
          span.col-11.text-indicators Create layout for dashboard
    div.col-3.indicadores
      div.box-content
        span(alt='Date' title='Date').row.col-12.no-padding.no-margin
          span.col-1.no-padding.material-icons calendar_today
          span.col-11.text-indicators 00/00/0000

  
    div.col-12
      div.box-content
        div.col-12 Home > 
        div.box.col-5
          h1=title
          p Welcome to #{title}
          a(href="http://www.google.com") Google
