extends layout/layout.pug

block article
  div#modal
    div.box
      div.box-content
        div#modal-header
          span teste
          button.close-btn()
            span.material-icons close
        div#content
          span teste
        div#footer
          span teste