extends layout

block main
  div.formulario
    div.row.no-margin.no-padding
      div.box-content.col-12
        div.col-12.material-icons dashboard
        div.col-12 DASHBOARD
        br
        form(action="/login", method="post")
          div.col-12
            input(type="email", name="login[email]", placeholder="Email")
            input(type="password", name="login[password]", placeholder="Password")
          div.col-12
            button(type="submit").button Login