extends includes/main

block content  
  div.box-content
    div.breadcrumb Home > 
    br
    div.box.col-4.float-left
      div.col-4.no-padding
        span picture
      div.col-4.no-padding
        span statistics
    div.box.col-8.float-right
      div.col-12
        span label
        input(type="text", name='teste', placeholder="teste")
      div.col-12
        span label
        input(type="text", name='teste', placeholder="teste")
      div.col-12
        span label
        input(type="text", name='teste', placeholder="teste")
      div.col-12
        button teste
    div.clear