extends includes/main

block content 
  div.box-content.no-margin
    include forms/task
    div.breadcrumb Home > 

    div.col-12.no-padding.no-marging
      div.col-md-10.col-sm-12.no-padding.float-left.no-marging
        include tasks/order
      div.col-md-2.col-sm-12.no-padding.float-right.no-marging
        include tasks/statistic
      div.clear

    hr.clear

    div.col-12.no-padding.no-marging
      include tasks/tasks
    div.clear

block scripts
  script(src='https://code.jquery.com/jquery-1.12.4.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(src='/javascripts/modal.js')
  script(src='/javascripts/dragnode.js')
  script(src='/javascripts/form.js')