
#contacts{
  float:left;
  .chat-person, .chat-group{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    box-shadow: $shadow;
    .icon-chat{
      padding: 2px 0px;
    }
  }
}

#chat{
  float:left;
  padding: 10px 0px;
  width: 100%;


  box-shadow: $shadow;
  border-radius: 5px;
  border: 1px solid;

  #title{
    padding: 0px 10px 10px 10px;
    hr{ margin: 10px 0; }
    #chat-title{ 
      .icon-chat{
        position: relative;
        left: -1%;
      }
      .text{ 
        position: relative;
        top: 5px;
      }
    }
  }

  .talk{
    .icon-chat{ padding-left: 5px; }
    div[class*="chat-"]{
      padding: 7px 0 0 0;
      border: 1px solid;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .text{ margin: 5px; }

    .chat-to{
      min-height: 40px;
      text-align: left;
      background-color: map-get($color, primary);
      color: #FFF;
      .icon-chat{ padding-left: 5px; }
      .text{ margin-left: 38px; }
    }

    .chat-from{
      min-height: 40px;
      text-align: right;
      background-color: map-get($color, secondary);
      border: map-get($color, secondary) !important;
      .icon-chat{ 
        padding-right: 5px; 
        color: map-get($color, primary);
      }
      .text{ margin-right: 38px; }
    }

    .chat-text{
      padding: 0px !important;
      height: 35px;

      input[type="textarea"]{
        float: left;
        width: 92%;
        height: 33px;
        padding-left: 10px;
      }

      input[type="button"]{
        float: right;
        border-radius: 0px;
        margin: 0px;
        width: 7%;
        height: 33px;
      }
    }
  }
}
