#indicators{
  width: 100%;
  clear: both;
  margin-bottom: 10px;
}

.indicator{
  width: 24.4%;
  float: left;
  margin: 0 0.3%;

  .text-indicators{
    position: relative;
    top: -6px;
    margin-left: 1%;
  }
}
