
%button{
  padding: 10px;
  font-size: 20px;
  vertical-align: middle;
  margin: 10px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

$padding: 10px 50px; 
$min-heigth: calc(100vh - 35px);
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$font: 14px;

body{
  font: $font "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: map-get($color, secondary); 
}

main, #sidebar{ min-height: $min-heigth; }

header, footer{ 
  color: map-get($color, secondary); 
  padding: $padding;
  position: relative;
  width: 100%;
  max-height: 35px;
  background-color: map-get($color, background );
}

footer{ bottom: 0px; }
header{ top: 0px; }

.button, button{ 
  text-align: center; 
  border-radius: 5px;
  margin: 5px;
  border-color: map-get($color, background);
  background-color: map-get($color, background);
  color: map-get($color, surface);
}

#content{ 
  float: left; 
  width: calc(100vw - 75px); 
  padding: 10px 0;
}

.box-content{
  border-radius: 6px;
  padding: 10px;
  margin: 0 0.5%;
  background-color: map-get($color, surface);
  box-shadow: $shadow;
}

#sidebar{ 
  padding: 0px; 
  max-width: 60px;
}

.breadcrumb{ 
  width: 100%;
  background-color: map-get($color, surface);
  height: 30px;
  border-bottom: 1px solid map-get($color, border);
  margin-bottom: 10px;
  padding: 10px 10px 25px 10px;
  border-radius: 0px;
  clear: both;
 }

 #close_modal{ cursor: pointer !important; }