/* Device = Desktops */

@media (min-width: 1281px) { 
  @include body("column","row","column");
  body,input,select,textarea, button{ font-size: 1.125rem; }
}

/* Device = Laptops, Desktops */
@media (min-width: 1025px) and (max-width: 1280px) { }

/* Device = Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) { 
  @include body("column","column","row");
  nav i, button{ margin: 5px; }
  body,input,select,button{ font-size: 4rem; }
}

/* Device = Tablets, Ipads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { }

/* Device = Low Resolution Tablets, Mobiles (Landscape)*/
@media (min-width: 481px) and (max-width: 767px) { }

/* Device = Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) { }