html,body,ul,ol {
  margin:  0;
  padding: 0;
}

.no-padding{ padding: 0px; }
.no-margin{ margin: 0px; }
.clear{ clear: both; }
input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}