@import 'reset';
@import 'colors';
@import 'main';

@import 'index';


#sidebar,header{
  .button{  @extend %button; }
  .button:hover{ color: map-get($color, primary); }
  .button[title='Home']:hover{ background-color: blue; }
  .button[title='Profile']:hover{ background-color: grey;  }
  .button[title='Tasks']:hover{ background-color: orangered;  }
  .button[title='Chat']:hover{ background-color: yellow;  }
  .button[title='Logout']:hover{ background-color: red; }
}

form input[type=button]{ @extend %button; }
#btn-pag-atual{ border-radius: 50px; }

.formulario{
  input{
    border: 0px;
    height: 30px;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: $shadow;
  }

  .button{ 
    border: 0px;
    padding: 10px;
    margin: 10px;
    box-shadow: $shadow;
  }

  width: 300px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

form {
  .error-validation{
    margin-left: 24px;
    color: red;

    span{
      position: relative;
      top: -6px;
    }

  }
  
  select,input{
    border-radius: 5px;
    min-height: 10px;
    border: 1px solid;
    background-color: #FFF;
    padding: 10px;

    &::placeholder{ color: map-get($color, primary) }
  }

  select{ 
    min-height: 19px; 
    padding-bottom: 12px;
  }

  select,
  input[type="text"],
  input[type="textarea"],
  input[type="password"]{
    margin-top: 10px;
    width: 100%;
    box-shadow: $shadow;
  }
}

.modal{
  background-color: #42424282;
  padding: 20px 15%;
}

// PAGE: TASKS
@import 'tasks';

// PAGE: CHAT
@import 'chat';

// PAGE: CHAT CALENDAR SIDE
#calendar-side{ float:left; }  
@import 'calendar';