html, body, ul, ol {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0px;
  border: none;
  background-color: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.clear {
  clear: both;
}

select, input, textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(/iconfont/MaterialIcons-Regular.woff) format("woff"), url(/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

body {
  background: #ECEFF1;
}

footer {
  background: #212121;
  color: #ECEFF1;
  flex-grow: 1;
  min-height: 5vh;
  max-height: 5vh;
}
footer p {
  margin: 5px 10px;
}

button {
  background: #212121;
  color: #ECEFF1;
  border-radius: 5px;
  min-height: 40px;
  min-width: 40px;
  display: grid;
  margin: 5px 0px;
  box-shadow: 3px 3px 5px #8e8e8e;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000000b5;
  overflow: auto;
}
#modal .box {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#modal .box .box-content {
  border-radius: 5px;
  background-color: #FAFAFA;
  width: 80vw;
  padding: 10px;
}
#modal .box .box-content #modal-header {
  display: flex;
  flex-direction: column;
}
#modal .box .box-content #modal-header button {
  background-color: transparent;
  color: #212121;
  box-shadow: none;
}
#modal .box .box-content #modal-header button span {
  text-shadow: 3px 3px 5px #8e8e8e;
}

#breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
  background: #FAFAFA;
  box-shadow: 3px 3px 5px #8e8e8e;
  border-radius: 5px;
  margin: 0 10px;
}
#breadcrumb li {
  background: #212121;
  color: #ECEFF1;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 5px #8e8e8e;
  min-height: 24px;
}
#breadcrumb li span {
  position: relative;
  top: 1px;
}
#breadcrumb li:before, #breadcrumb li:after {
  content: "";
  border: solid #212121;
  display: block;
  position: relative;
  border-width: 12px 6px;
}
#breadcrumb li:before {
  left: -12px;
  border-left-color: transparent;
}
#breadcrumb li:after {
  right: -12px;
  border-color: transparent;
  border-left-color: #212121;
}
#breadcrumb li:first-child {
  padding-left: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#breadcrumb li:first-child:before {
  border: none;
}
#breadcrumb li:last-child {
  padding-right: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#breadcrumb li:last-child:after {
  border: none;
}

/* Device = Desktops */
@media (min-width: 1281px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  body section {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 95vh;
  }
  body section nav {
    flex-grow: 1;
    border-radius: 5px;
    margin: 10px 5px;
    background: #FAFAFA;
    box-shadow: 3px 3px 5px #8e8e8e;
  }
  body section nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  body section #main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 50;
    margin-top: 10px;
    border-radius: 5px;
  }
  body section #main #container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 1;
  }
  body section #main #container article {
    padding: 10px;
    flex-grow: 1;
    margin: 10px;
    border-radius: 5px;
    background: #FAFAFA;
    box-shadow: 3px 3px 5px #8e8e8e;
  }
  body section #main #container article section {
    min-height: 0vh;
  }
  body section #main .form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  body section #main .form-input label {
    justify-content: center;
  }
  body section #main .form-input select, body section #main .form-input input, body section #main .form-input textarea {
    padding: 1px 5px;
    justify-content: flex-start;
    border-color: #424242;
  }
  body section #main .form-input textarea {
    border: 1px solid;
    border-radius: 5px;
  }
  body section #main .form-input select, body section #main .form-input input {
    border-bottom: 1px solid;
  }

  body, input, select, textarea, button {
    font-size: 1.125rem;
  }
}
/* Device = Laptops, Desktops */
/* Device = Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  body section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 95vh;
  }
  body section nav {
    flex-grow: 1;
    border-radius: 5px;
    margin: 10px 5px;
    background: #FAFAFA;
    box-shadow: 3px 3px 5px #8e8e8e;
  }
  body section nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
  body section #main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 50;
    margin-top: 10px;
    border-radius: 5px;
  }
  body section #main #container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 1;
  }
  body section #main #container article {
    padding: 10px;
    flex-grow: 1;
    margin: 10px;
    border-radius: 5px;
    background: #FAFAFA;
    box-shadow: 3px 3px 5px #8e8e8e;
  }
  body section #main #container article section {
    min-height: 0vh;
  }
  body section #main .form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  body section #main .form-input label {
    justify-content: center;
  }
  body section #main .form-input select, body section #main .form-input input, body section #main .form-input textarea {
    padding: 1px 5px;
    justify-content: flex-start;
    border-color: #424242;
  }
  body section #main .form-input textarea {
    border: 1px solid;
    border-radius: 5px;
  }
  body section #main .form-input select, body section #main .form-input input {
    border-bottom: 1px solid;
  }

  nav i, button {
    margin: 5px;
  }

  body, input, select, button {
    font-size: 4rem;
  }
}
/* Device = Tablets, Ipads (landscape) */
/* Device = Low Resolution Tablets, Mobiles (Landscape)*/
/* Device = Most of the Smartphones Mobiles (Portrait) */
#user-story {
  display: flex;
  flex-direction: row;
}
#user-story #user-stories {
  margin-right: 2em;
  border-right: 1px solid;
  padding-right: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 10em;
}
#user-story #user-stories .story-card {
  max-height: 4em;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 5px #8e8e8e;
}
#user-story #user-stories .story-card span {
  padding-left: 0.5em;
  flex-direction: row;
}
#user-story #user-stories .story-card span::before {
  font-family: "Material Icons";
  width: 1em;
  margin-right: 0.5em;
}
#user-story #user-stories .story-card span:nth-child(1)::before {
  content: "list_alt";
}
#user-story #user-stories .story-card span:nth-child(2)::before {
  content: "control_point_duplicate";
}
#user-story #user-stories .story-card span:nth-child(3)::before {
  content: "local_offer";
}
#user-story #user-stories span {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#user-story #card {
  display: flex;
}
#user-story #card #front-card {
  border-right: 1px solid #424242;
}
#user-story #card #front-card input {
  flex-grow: 1;
}
#user-story #card #front-card section:nth-child(1) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
}
#user-story #card #front-card section:nth-child(1) #points-input, #user-story #card #front-card section:nth-child(1) #importance-input {
  margin-right: 9px;
  border: 1px solid #424242;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30%;
}
#user-story #card #front-card section:nth-child(1) #points-input label, #user-story #card #front-card section:nth-child(1) #importance-input label {
  padding: 0px;
  background-color: #FAFAFA;
}
#user-story #card #front-card section:nth-child(1) #points-input input, #user-story #card #front-card section:nth-child(1) #points-input select, #user-story #card #front-card section:nth-child(1) #importance-input input, #user-story #card #front-card section:nth-child(1) #importance-input select {
  width: 100%;
  padding: 0px;
}
#user-story #card #front-card section:nth-child(2) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
}
#user-story #card #front-card section:nth-child(2) label {
  width: 4em;
}
#user-story #card #back-card section:nth-child(2) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
}
#user-story #card #back-card section:nth-child(2) label {
  width: 4em;
}

/*# sourceMappingURL=style.css.map */
