$color: (
    primary: #424242,
    secondary: #ECEFF1,
    background: #212121,
    surface: #FAFAFA,
);

$mensage-color:(
    error: #B71C1C,
    alert: #FFC107,
    info: #1565C0,
    sucess: #00E676,
);