div.box.col-12.float-left.no-padding.task-organizer
  div.box.col-12
    div.float-left.head-task-urgent  URGENT
    div.float-left.head-task-not-urgent NOT URGENT
  div.clear
  div.box.col-12
    div.float-left.head-task-important IMPORTANT
    div.float-left#box-task-1
    div.float-left#box-task-2
  div.clear
  br
  div.box.col-12
    div.float-left.head-task-not-important NOT IMPORTANT
    div.float-left#box-task-3
    div.float-left#box-task-4
  div.clear
div.clear