div.table-div#task-new
  template#task-template
    div.table-line.col-12.task
      span.drag-icon.material-icons more_vert
      div.col-3 #task#
      div.col-3.hide-sm #time#
      div.col-3.hide-sm #start_date#
      div.col-3.hide-sm #importance#

  div.table-line.col-12
    div.col-3 task
    div.col-3 time
    div.col-3 date
    div.col-3 priority
  
  div.table-line.col-12.task
    -var tasks = task.tasks
    each task in tasks
      //- span.drag-icon.material-icons more_vert
      //- div.col-3= task.task
      //- div.col-3.hide-sm= importancytask.time
      //- div.col-3.hide-sm= task.date
      //- div.col-3.hide-sm= task.priority
    else
      div.col-12#call-modal Click here to add
div.clear